<div class="home-page row">
  <div class="col-md-4 col-sm-12">
    <div class="home-box">
      <div *ngFor="let device of interier" class="desc">
        <h2>{{boxOne}}</h2>
        <div>Actual averange temperature: {{device.teplota}} °C</div>
        <div>Actual averange wetness: {{device.vlhkost}} %</div>
        <div>Date: {{device.datum |date:"dd/MM/yy"}}</div>
      </div>

      <button type="button" routerLink="/interior" class="btn btn-primary center">More Information</button>

    </div>


  </div>

<!---
  <div class="col-md-4 col-sm-12">
    <div class="home-box">
      <div class="desc">
        <h2>{{boxTwo}}</h2>
        <div>Actual temperature: {{exteriorDevice.teplota}} °C</div>
        <div>Actual wetness: {{exteriorDevice.vlhkost}} %</div>
      </div>
      <button type="button" routerLink="/exterior" class="btn btn-primary">More Information</button>
    </div>

  </div>-->

  <div class="col-md-4 col-sm-12">
    <div class="home-box">
      <div class="desc">
        <h2>{{boxThree}}</h2>
        <div>Last changes:</div>
      </div>
      <button type="button" routerLink="/interior" class="btn btn-primary">More Information</button>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="home-box">
      <div class="desc">
        <h2>{{boxThree}}</h2>
        <div>Last changes:</div>
      </div>
      <button type="button" routerLink="/interior" class="btn btn-primary">More Information</button>
    </div>
  </div>

</div>

