<div class="home-page row">
  <div class="col-md-4 col-sm-12">
    <div class="home-box">
      <div *ngFor="let device of interior" class="desc">
        <h2>{{boxOne}}</h2>
        <div>Actual temperature: {{device.teplota}} °C</div>
        <div>Actual humidity: {{device.vlhkost}} %</div>
        <div>Date: {{device.datum |date:"ss/dd/MM/yy"}}</div>
      </div>
    </div>
  </div>


  <div class="col-md-4 col-sm-12">
    <div class="home-box">
      <div *ngFor="let device of exteriorDevice" class="desc">
        <h2>{{boxTwo}}</h2>
        <div>Actual temperature: {{device.teplota}} °C</div>
        <div>Actual humidity: {{device.vlhkost}} %</div>
        <div>Date: {{device.datum |date:"ss/dd/MM/yy"}}</div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="home-box">
      <div *ngFor="let sett of settings" class="desc">
        <h2>{{boxThree}}</h2>
        <div>Max Temperature: {{sett.maximalni_teplota}} °C</div>
        <div>Min Temperature: {{sett.minimalni_teplota}} %</div>
        <div>Max Temperature: {{sett.maximalni_vlhkost}} °C</div>
        <div>Min Temperature: {{sett.minimalni_vlhkost}} %</div>
        <div>Open Window: {{sett.otevreni_oken}}</div>
        <div>Turn on heating: {{sett.zapnuti_topeni}} </div>
      </div>
  </div>
</div>

