
.navbar{
  background: lightblue !important;
}
@media (max-width: 992px) {
  .navbar-toggleable-md .navbar-nav {
    clear: both;
  }
  .navbar-toggleable-md.collapse {
    text-align: center;
  }

  .navbar-brand{
    float: left;
    padding-top: 0;
    margin: 0 2.5rem 0 0;
    height: 35px;
    line-height: 35px;
  }
  .navbar-text {
    padding: 0;
    height: 35px;
    line-height: 35px;

  }
}
@media (max-width: 424px){
  .navbar-brand, .navbar-text{
    text-align: center;
    float: none !important;
    display: table;
    margin: 0 auto;
  }
}

