
.navbar{
  background: lightblue !important;
}
@media (max-width: 992px) {
  .navbar-toggleable-md .navbar-nav {
    clear: both;
  }
  .navbar-toggleable-md.collapse {
    text-align: center;
  }
  .nav-items {
    width: 56%;
    margin: auto;
    display: block;
    height: 20px;
    line-height: 20px;
  }
  .navbar-brand{
    float: left;
    padding-top: 0;
    margin: 0 2.5rem 0 0;
  }
  .navbar-text {
    padding: 0;
  }



}

